Source: ros-hydro-r2-gazebo
Section: misc
Priority: extra
Maintainer: David Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-gazebo-msgs, ros-hydro-kdl-parser, ros-hydro-r2-msgs, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-std-msgs, ros-hydro-tf, ros-hydro-urdf
Homepage: http://ros.org/wiki/r2_gazebo
Standards-Version: 3.9.2

Package: ros-hydro-r2-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-gazebo-msgs, ros-hydro-kdl-parser, ros-hydro-r2-msgs, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-std-msgs, ros-hydro-tf, ros-hydro-urdf
Description: The r2_gazebo package
